/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  // margin:
  margin: 0;
  // padding:
  padding: 0;
  // border:
  border: 0;
  // outline:
  outline: 0;
  // font:
  font: inherit;
  // color:
  color: inherit;
  // text-align:
  text-align: inherit;
  // text-decoration:
  text-decoration: inherit;
  // vertical-align:
  vertical-align: inherit;
  // box-sizing:
  box-sizing: inherit;
  // background:
  background: transparent;
}

ol, ul {
  // list-style:
  list-style: none;
}

img {
  // display:
  display: block;
  // width:
  width: 100%;
  // height:
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  // cursor:
  cursor: pointer;
}

/* Clearfix */

.group:after {
  // ...
  content: "";
  display: block;
  clear: both;
}
