// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  width: 225px;
  border: 1px solid $lightest-gray;
  padding: 10px;
  z-index: 1;
  color: $dark-gray;
  font-family: $sans-serif;
  text-align: left;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  font-weight: initial;
}
